.container {
  background-color: rgb(48, 84, 84);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
  color: rgb(2, 28, 28);
}
label {
  display: block;
  margin-bottom: 10px;
  color: rgb(3, 36, 36);
  font-weight: bold;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(36, 60, 60);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  color: rgb(46, 147, 147);
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(43, 142, 142);
  color: rgb(8, 44, 49);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: rgb(28, 92, 92);
}
.result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(10, 142, 142);
}