.container {
    text-align: center;
}
.title {
    margin-top: 50px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset {
    width: 150px;
    height: 80px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: blue;
    font-size: 26px;
    color: lightblue;
    margin-top: 30px;
    margin-bottom: 50px;
}
.reset:hover {
    background: darkblue;
}
.boxes {
    display: flex;
    height: 180px;
    width: 180px;
    background: rgb(1, 1, 50);;
    border: 4px solid darkblue;
    cursor: pointer;
    border-radius: 12px;
}
.boxes:hover {
    background: darkblue;
}
.boxes img {
    margin: 50px 50px;
}
.board {
    height: 600px;
    width:  564px;
    display: flex;
    margin: auto;
}
.title img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    padding: 20px 20px;
}